{% extends 'layouts/auth_base.html' %}
{% load static %}

{% block content %}
  <div class="brand-logo">
    <img src="{% static 'images/logo.svg' %}" alt="logo">
  </div>
  <h6 class="fw-light">Enter new password here.</h6>
  <form class="pt-3" method="post">
    {% csrf_token %}

    {% if form.non_field_errors %}
      {% for error in form.non_field_errors %}
        <small class="text-danger">{{ error }}</small> 
      {% endfor %}
    {% endif %}

    {% for field in form %}
      <div class="form-group">
        {{field}}
      </div>
      <small class="text-danger">{{ field.errors }}</small>
    {% endfor %}

    <div class="mt-3">
      <button type="submit" class="btn btn-block btn-primary btn-lg font-weight-medium auth-form-btn mb-2">CHANGE</button>
    </div>
    <div class="my-2">
      <p><a href="{% url 'login' %}" class="auth-link text-black">Login</a></p>
      <p><a href="{% url 'register' %}" class="auth-link text-black">Register</a></p>
    </div>
  </form>
{% endblock content %}