{% extends 'layouts/auth_base.html' %}
{% load static %}

{% block content %}
  <div class="brand-logo">
    <img src="{% static 'images/logo.svg' %}" alt="logo">
  </div>
  <h6 class="fw-light my-5">An email has been sent to your email address. Please click the link and reset your password.</h6>
  <div class="my-2">
    <p><a href="{% url 'login' %}" class="auth-link text-black">Login</a></p>
    <p><a href="{% url 'register' %}" class="auth-link text-black">Register</a></p>
  </div>
{% endblock content %}