{% load static %}

<!-- plugins:css -->
<link rel="stylesheet" href="{% static 'vendors/feather/feather.css' %}">
<link rel="stylesheet" href="{% static 'vendors/mdi/css/materialdesignicons.min.css' %}">
<link rel="stylesheet" href="{% static 'vendors/ti-icons/css/themify-icons.css' %}">
<link rel="stylesheet" href="{% static 'vendors/typicons/typicons.css' %}">
<link rel="stylesheet" href="{% static 'vendors/simple-line-icons/css/simple-line-icons.css' %}">
<link rel="stylesheet" href="{% static 'vendors/css/vendor.bundle.base.css' %}">
<!-- endinject -->
<!-- End plugin css for this page -->
<!-- inject:css -->
<link rel="stylesheet" href="{% static 'css/vertical-layout-light/style.css' %}">
<!-- endinject -->
<link rel="shortcut icon" href="{% static 'images/favicon.png' %}" />